{% extends 'base.html.twig' %}

{% block body %}
  <main id="main">
    <section id="contact">
      <div class="container col-md-6">
        <h4>Update Item</h4>
        <div class="form">
          <form action="" method="post" role="form" class="contactForm">
              <div class="form-group col-md-12">
                <input type="text" name="item_number" class="form-control"  placeholder="Item #" value="{{ item.item_number }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" name="description"  placeholder="Item Description" value="{{ item.description }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" name="brand"  placeholder="Brand Name"  value="{{ item.brand }}" />
              </div>
              <div class="form-group col-md-12">
                <input type="text" name="serial" class="form-control"  placeholder="Serial #" value="{{ item.serial }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" name="purchase_date" class="form-control"  placeholder="Purchase Date (mm-dd-yyyy)" value="{{ item.purchase_date }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" name="store"  placeholder="Store Purchased" value="{{ item.location }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" name="price"  placeholder="Price" value="{{ item.price }}"  />
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" name="receipt"  placeholder="Receipt #" value="{{ item.receipt }}"  />
              </div>
              <div class="form-group col-md-12">
                <select name="location" class="form-control">
                    <option value="">-- Assigned Location --</option>
                    {% for location in locations %}
                        {% set selected = (location == item.location) ? 'selected="selected"' : '' %}
                        <option value="{{ location }}" {{ selected }}>{{ location }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-12">
                <input type="text" name="assigned_to" class="form-control"  placeholder="Assigned To" value="{{ item.assigned_to }}"  />
              </div>
              <div class="form-group col-md-12">
                <select name="status" class="form-control">
                    <option value="">-- Choose Status --</option>
                    {% for status in statuses %}
                        {% set selected = (status == item.status) ? 'selected="selected"' : '' %}
                        <option value="{{ status }}" {{ selected }}>{{ status }}</option>
                    {% endfor %}
                </select>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit">Update Item</button>
              </div>
          </form>
        </div>

      </div>
    </section>
  </main>
{% endblock %}
